@use '../../../styles/variables' as v;

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: v.$color-black;
  color: v.$color-white;
  font-family: v.$font-family-base;
  text-align: center;
}