@use '../../../styles/variables' as v;

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  min-height: 50vh;

  color: v.$color-white;
  font-family: v.$font-family-base;
  text-align: center;

  animation: fadeIn 0.3s ease-out;
}

.title {
  font-size: 2rem;
  margin-top: v.$spacing-lg;
  color: rgb(v.$color-white, 0.3);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}