@use '../../styles/variables' as v;

.page {
  display: flex;
  flex-direction: column;
  color: v.$color-white;
  padding-top: 10vh;
  text-align: center;
}

.content {
  padding: 20vh 2vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-family: v.$font-family-secondary;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}